* {
    margin: 0px;
    padding: 0px;
}

header iframe {
    background-color: black;
    width: 100%;
    border: none;
    height: 110px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 50px;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
}

form div+div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
    margin-left: .5em;
}

.buto {
    padding: 10px 18px;
    background-color: black;
    border: 1px rgb(255, 255, 255) solid;
    color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.endereco {
    width: 300px;
    margin-left: 10px;
    color: white;
    border-bottom: white 1px solid;
    padding-bottom: 10px;
}

.fora {
    margin-top: 50px;
    width: 400px;
    padding: 10px;
    border: 1px solid #CCC;
    background-color: black;
}